<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seawaterbt.ssm.module.business.dao.CareAppUsersWasherbindMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seawaterbt.ssm.module.business.entity.CareAppUsersWasherbind">
        <id column="id" property="id" />
        <result column="unionid" property="unionid" />
        <result column="phone" property="phone" />
        <result column="washerSN" property="washerSN" />
        <result column="washerName" property="washerName" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, unionid, phone, washerSN, washerName, created_at, updated_at
    </sql>

</mapper>
