<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seawaterbt.ssm.module.business.dao.CareCostmodelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seawaterbt.ssm.module.business.entity.CareCostmodel">
        <id column="id" property="id" />
        <result column="costtype" property="costtype" />
        <result column="costmodelid" property="costmodelid" />
        <result column="costmodelname" property="costmodelname" />
        <result column="displayname" property="displayname" />
        <result column="modelname" property="modelname" />
        <result column="washerTime" property="washerTime" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, costtype, costmodelid, costmodelname, displayname, modelname, washerTime, created_at, updated_at
    </sql>

</mapper>
