<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seawaterbt.ssm.module.system.dao.SysUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seawaterbt.ssm.module.system.entity.SysUserRole">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="roleId" property="roleId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, roleId
    </sql>
    <insert id="insertUserRoleBatch">
        insert into t_sys_user_role
        ( user_id,role_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.userId},
            #{item.roleId}
            )
        </foreach>
    </insert>
    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        delete
        from t_sys_user_role
        where user_id = #{userId}
    </delete>

    <select id="selectUserIdByRoleId" resultType="java.lang.Integer">
        select user_id
        from t_sys_user_role
        where role_id = #{roleId}
    </select>

</mapper>
